In [ ]:
import pandas as pd
import numpy as np

In [ ]:
products = pd.read_csv('/content/WA_Sales_Products_2012-14.csv')
products.head()

  Retailer country Order method type  ... Quantity Gross margin
0    United States               Fax  ...      489     0.347548
1    United States               Fax  ...      252     0.474274
2    United States               Fax  ...      147     0.352772
3    United States               Fax  ...      303     0.282938
4    United States               Fax  ...     1415     0.291450

[5 rows x 11 columns]

In [ ]:
groups = products.groupby(by=['Retailer country','Year'])
groups.size().head(10)

Retailer country  Year
Australia         2012    1402
                  2013    1376
                  2014     887
Austria           2012    1436
                  2013    1469
                  2014     957
Belgium           2012    1339
                  2013    1481
                  2014     890
Brazil            2012    1218
dtype: int64

In [ ]:
groups.sum().head(10)

                           Revenue  Quantity  Gross margin
Retailer country Year
Australia        2012  25607043.50    522186    625.835424
                 2013  47799737.14    839750    625.650690
                 2014  35893188.50    638845    390.336301
Austria          2012  34568089.63    702134    636.115492
                 2013  44996737.04    803771    665.086198
                 2014  33801788.98    596301    422.637486
Belgium          2012  30396297.49    635694    592.017290
                 2013  38375432.68    662157    667.302813
                 2014  28186839.74    501170    393.968282
Brazil           2012  34234876.30    688643    540.191035

In [ ]:
groups.get_group(('Australia',2012)).head()

     Order method type Retailer type  ... Quantity Gross margin
3735         Telephone     Golf Shop  ...       53     0.509564
3736         Telephone     Golf Shop  ...       70     0.507874
3737         Telephone     Golf Shop  ...      158     0.284152
3738         Telephone     Golf Shop  ...      255     0.413692
3739         Telephone     Golf Shop  ...       46     0.437513

[5 rows x 9 columns]